body {
  margin: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
}

code {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titleHA{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* .headerNav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding-top: 5px;
}

.headerName {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%;
}

.headerTitle{
  margin: 1%;
}

.containerNav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 0, 0, 0.865);
}

h1 {
  color: black;
}

.LoginSignup {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-items: end;
  margin: auto;
}


.headerBtn{
  margin: 5%;
} */

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: bisque;
  text-decoration: none;
}

.titleName {
  margin: 5%;
  text-decoration: none;
  color: black;
}

.headerBtn {
  margin-top: 5%;
  margin-right: 10px;
  border: none;
  background-color: transparent;
}

.signCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  background-color: transparent;
  border: none;
}

.btnText {
  color: black;
}

.cardOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.cardTitle {
  background-color: none;
}

.searchBar {
  display: flex;
  flex-direction: column;
  margin: 3%;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.search {
  border-radius: 25px;
}

.searchBtn {
  border: none;
  background-color: transparent;
}


.categoriesCards {
  display: flex;
  flex-direction: row;
}

.eachCard {
  margin: 1%;
  height: 350px;
  width: 30%;
  border-radius: 25px;
}

.cardPhoto {
  max-height: 50%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.buttonGo {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: azure;
}

.nameNBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joinText {
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.footerBar{
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  height: 50px;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.serviceContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 5px solid black;
  margin: 5%;
  border-radius: 25%;
}

.serviceContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.min-100-vw {
  min-width: 100vw;
}

.h-100 {
  height: 100%;
}

@media screen and (maw-width: 800px) {
  .footerBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: antiquewhite;
    position: relative;
    bottom: auto;
  }
}

@media screen and (max-width: 600px) {
  .topnav a {
    width: 100%;
    height: 50px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .categoriesCards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .eachCard {
    width: 80%;
  }

  .footerBar {
    width: 100%;
    height: 50px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}