body {
  margin: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 68, 255, 0.657);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titleHA{
  font-family: 'Times New Roman', Times, serif;
}

.headerNav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding-top: 5px;
}

.headerName {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%;
}

.headerTitle{
  margin: 1%;
}

.containerNav{
  margin: var(--spacing-four);
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.865);
}

h1 {
  color: black;
}

.LoginSignup {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-items: end;
  margin: auto;
}


.headerBtn{
  margin: 5%;
}

.searchBar {
  display: flex;
  flex-direction: row;
  margin: 3%;
  align-content: center;
  justify-content: center;
  align-items: center;
}


.actualSearch {
  margin: 1%;
  width: 50%;
}

.categoriesCards {
  display: flex;
  flex-direction: row;
}

.eachCard {
  margin: 1%;
  height: 350px;
  width: 30%;
}

.cardPhoto {
  max-height: 50%;
}

.buttonGo {
  width: 100%;
  background-color: azure;
}

.nameNBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joinText {
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.footerBar{
  width: 100%;
  height: 50px;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.serviceContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 5px solid black;
  margin: 5%;
}

.serviceContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.min-100-vw {
  min-width: 100vw;
}

.h-100 {
  height: 100%;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}